bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
.env.development
.env.local
.env.staging
/App.Infrastructure/data/
/.idea/.idea.App/.idea/.name
/App.sln.DotSettings.user
/.idea/.idea.App/.idea/aws.xml
/.idea/.idea.App/.idea/encodings.xml
/Game.sln.DotSettings.user
/.idea/.idea.App/.idea/indexLayout.xml
/.idea/.idea.App/.idea/inspectionProfiles/Project_Default.xml
/.idea/.idea.App/.idea/vcs.xml
/.idea/.idea.Game/.idea/workspace.xml